In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import re

In [78]:
# Read metalevelmeta data
data_level = pd.read_csv('omniart_data/metalevelmeta.csv')
data_level.set_index('omni_id', inplace=True)
data_level = data_level.loc[~data_level.index.duplicated(keep='first')] # Remove duplicates
# Read metadatas
data_meta = pd.read_csv('omniart_data/metadatas.csv')
data_meta.set_index('omni_id', inplace=True)
data_meta = data_meta.loc[~data_meta.index.duplicated(keep='first')]
# Concatenate useful columns
result = pd.concat([data_level['textual_description'], data_level['iconclass_codes'], data_level['concepts'],
                   data_meta['artwork_name'], data_meta['artist_full_name'], data_meta['creation_year'],
                   data_meta['source_url'], data_meta['image_url'], data_meta['school']], axis=1, sort=False)
# Save to csv
result.to_csv('metadata_unclean.csv')

In [55]:
def replace_regex(regexs, S):
    # Replace
    for regex in regexs:
        S.replace(regex[0], regex[1],regex=True, inplace = True)
    return S

replace_regex(regexs, S)

0            Fin
1            Fin
2        Florida
3          Japan
4    Puerto Rico
5         Russia
6         france
dtype: object

In [19]:
data_meta['school'].value_counts()

unknown                                 662420
london                                  380278
modern                                  184195
paris                                    79474
new york                                 37413
                                         ...
brabant                                      1
printed for j. tonson; and m. tonson         1
pariz                                        1
canton                                       1
watford                                      1
Name: school, Length: 4428, dtype: int64

In [31]:
counter = 0

freq = dict(data_meta['school'].value_counts())
for key in list(freq):
    print(key, freq[key])
    if counter == 5:
        break
    counter +=1

unknown 662420
london 380278
modern 184195
paris 79474
new york 37413
british 34348

In [ ]:
# To Remove:
remove = ['unknown', 'modern']

# Correct:
correct = ['london', 'paris']

replace = []

In [30]:
# del freq['unknown']
freq

KeyError: 'unknown'

In [53]:
# Remove the dash(-) followed by number from all countries in the Series
S=pd.Series(['Finland-1','finland-2','Florida-3','Japan-4','Puerto Rico-5','Russia-6','france-7'])
S.replace('(-\d)','',regex=True, inplace = True)

# regex
regexs = [(re.compile(r'finland', flags=re.IGNORECASE), 'Fin')]

def replace_regex(regexs, S):
    # Replace
    for regex in regexs:
        S.replace(regex[0], regex[1],regex=True, inplace = True)
    return S

replace_regex(regexs, S)
S

0            Fin
1            Fin
2        Florida
3          Japan
4    Puerto Rico
5         Russia
6         france
dtype: object